@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Fontspring-DEMO-integralcf-regular.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --integral: "Integral CF", sans-serif;
  --bg-main: #ffffff;
  --gray: hsla(0, 0%, 7%, 0.814);
  --black: #000000;
  --blue: #233c6b;
  --inter: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-main);
  font-family: var(--inter);
  font-size: 16px;
  &:selection {
    background: var(--gray);
    color: var(--bg-main);
  }
}

/*Smaller mobile screens*/

@media (min-width: 320px) and (max-width: 519px) {
  .landing {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    header {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-self: center;
      nav {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;

        .header-main {
          width: 90%;
          height: auto;
          margin: 0 auto;
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            width: auto;
            height: 100%;
            padding: 0px 10px;
            font-family: var(--integral);
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            span {
              color: rgb(53, 77, 53);
            }
          }
          .hamburger {
            width: 30px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .header-nav {
          width: 0%;
          position: absolute;
          height: 100vh;
          background: white;
          right: -100%;
          top: 0;
          z-index: 3;
          header {
            width: 100%;
            height: 35px;
            position: relative;

            span {
              position: absolute;
              right: 20px;
              top: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .nav--items {
            width: 100%;
            height: 100%;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            .search {
              width: 80%;
              position: relative;

              .items--searchbar {
                width: 100%;
                height: 36px;
                border: 1px solid var(--black);
                border-radius: 20px;
                padding: 5px 20px;
                color: var(--gray);
                font-family: var(--inter);
                font-size: 14px;

                &:placeholder {
                  color: var(--gray);
                  font-family: var(--inter);
                  font-weight: 400;
                }
              }
              span {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translate(5%, -50%);
                width: 30px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }
            }
            .controls {
              width: 100%;
              height: 400px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              padding: 20px 10px;
              .items-shop-controls {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;

                li {
                  list-style: none;
                  width: 70%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;
                  height: auto;
                  p {
                    font-size: 14px;
                    display: flex;
                    gap: 5px;
                    font-weight: 600;
                    text-align: left;
                    span {
                      width: auto;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }

                  #dropdown--list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    height: auto;
                    padding: 10px 0px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s ease;

                    li {
                      font-size: 12px;
                      color: rgba(100, 97, 97, 0.878);
                    }
                  }
                  #dropdown--list.active {
                    animation: dropDownShowMob 0.3s ease-in-out forwards;
                  }
                }
              }
              .items-user-controls {
                width: 100%;
                height: auto;
                padding: 20px 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                li {
                  list-style: none;
                  font-size: 14px;
                  font-weight: 600;
                  display: flex;
                  height: 38px;
                  align-items: center;
                  gap: 40px;
                  width: 90%;
                  align-items: center;
                  justify-content: center;

                  span {
                    height: 100%;
                    width: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  p {
                    width: 30%;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
        .show {
          animation: showMobMenu 0.3s ease-in-out forwards;
        }
      }
    }

    main {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 35px;
      .hero {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border-bottom: 1px solid var(--gray); */
        .hero-cats {
          width: 100%;
          height: auto;
          gap: 20px;
          display: flex;
          flex-direction: column;

          .tile {
            border-radius: 24px;
            position: relative;
            z-index: 0;
            .link {
              width: 35px;
              height: 35px;
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            img {
              position: absolute;
              width: auto;
              height: 100%;
              z-index: -1;
            }
          }
          .main {
            width: 100%;
            height: 650px;
            padding: 0px 10px;
            border: none;

            #tile--main {
              width: 100%;
              height: 100%;
              border: none;
              overflow: hidden;
              img {
                height: 100%;
                position: absolute;
                top: 0;
                object-fit: cover;
                object-position: -50px 0px;
                filter: grayscale(0.9);

                @media (min-width: 400px) {
                  object-position: -50px 0px;
                }
              }
              .tile-txt {
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                .txt {
                  color: white;

                  .title {
                    position: absolute;
                    width: 200px;
                    height: auto;
                    text-align: center;
                    font-size: 25px;
                    top: 2.5%;
                    left: 50%;
                    transform: translate(-50%, -2.5%);
                    color: white;
                    font-family: var(--integral);
                  }
                }
                .tile--btn {
                  position: absolute;
                  width: 70%;
                  height: 35px;
                  border-radius: 30px;
                  border: none;
                  background: black;
                  color: white;
                  font-family: var(--inter);
                  font-size: 12px;
                  top: 50%;
                  transform: translateY(-50%);
                  transition: 0.5s ease;
                }
              }
            }
          }
          .sub {
            width: 100%;
            height: 200px;
            display: flex;
            padding: 10px 0px;
            padding-left: 10px;
            gap: 10px;
            overflow: hidden;
            overflow-x: auto;
            .tile {
              width: 211px;
              flex: 0 0 auto;
              height: 100%;
              border-radius: 24px;
              position: relative;

              img {
                position: absolute;

                object-fit: cover;
                object-position: center;
              }

              .tile-txt {
              }
            }

            #sub-outdoor {
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                object-fit: cover;
                object-position: 0px 0px;
              }
              .tile-txt {
                z-index: 1;
                width: 100%;
                height: 100%;

                .txt {
                  color: black;
                  width: 100%;
                  height: 100%;
                  position: relative;

                  .title {
                    position: absolute;
                    top: 27%;
                    left: 11%;
                    transform: translate(-11%, -27%);
                    width: 50px;
                    font-size: 30px;
                    font-weight: 500;
                  }
                }
              }
              .link {
                position: absolute;
                z-index: 2;
                bottom: 20px;
                right: 18px;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 100px;
                background: var(--black);
              }
            }
            #sub-casual {
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                object-fit: cover;
                object-position: 0px 0px;
              }
              .tile-txt {
                z-index: 1;
                width: 100%;
                height: 100%;

                .txt {
                  color: white;
                  width: 100%;
                  height: 100%;
                  position: relative;

                  .title {
                    position: absolute;
                    top: 27%;
                    left: 11%;
                    transform: translate(-11%, -27%);
                    width: 100px;
                    font-size: 25px;
                    line-height: 1.5;
                    font-weight: 500;
                    font-family: var(--integral);
                  }
                }
              }
              .link {
                position: absolute;
                z-index: 2;
                bottom: 20px;
                right: 18px;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 100px;
                background: var(--black);
              }
            }
          }
        }
        .hero-inspos {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          overflow: hidden;
          overflow-x: auto;
          scroll-behavior: smooth;
          .container {
            width: 100%;
            flex: 0 0 auto;
            height: 350px;
          }

          #inspos-intro {
            padding: 15px 0px;
            padding-left: 12.5px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            position: relative;
            .title {
              font-size: 50px;
            }
            .btn {
              width: 65%;
              height: 40px;
              border-radius: 25px;
              border: 1px solid black;
              font-size: 14px;
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: black;
              color: white;
            }

            .next {
              width: 55px;
              height: 55px;
              border-radius: 100px;
              border: none;
              position: absolute;
              bottom: 22%;
              right: 10%;
              transform: translate(10%, 22%);
              background: black;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          #tiles {
            width: 200%;
            display: flex;
            align-items: center;
            overflow: hidden;
            overflow-x: scroll;
            scroll-behavior: smooth;
            gap: 15px;
            padding-right: 10px;
            justify-content: center;
            .sub {
              width: 270px;
              height: 250px;
              flex: 0 0 auto;

              .tile {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 25px;
                overflow: hidden;
                position: relative;
                z-index: 1;
                img {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: -1;
                  object-fit: cover;
                  object-position: center;
                  top: 0;
                  left: 0;
                }
                .link {
                  position: absolute;
                }
              }
              #inspo-retro {
                position: relative;
                img {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: -1;
                  object-fit: cover;
                  object-position: 0px 0px;
                  top: 0;
                  left: 0;
                }
                .tile-txt {
                  width: 100%;
                  z-index: 1;
                  height: 100%;
                  width: 100%;

                  .txt {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .title {
                      position: absolute;
                      bottom: 5%;
                      left: 15%;
                      width: 10%;
                      transform: translate(-15%, 5%);
                      font-size: 20px;
                      font-weight: 600;
                      color: white;
                      font-family: var(--integral);
                      text-align: left;
                    }
                    .link {
                      z-index: 1;
                      position: absolute;
                    }
                  }
                }
                .link {
                  position: absolute;
                  top: 20px;
                  right: 20px;
                  width: 50px;
                  height: 50px;
                  border: none;
                  border-radius: 100px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: black;
                }
              }
              #inspo-street {
                position: relative;
                img {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: -1;
                  object-fit: cover;
                  object-position: 0px 0px;
                  top: 0;
                  left: 0;
                }
                .tile-txt {
                  width: 100%;
                  z-index: 1;
                  height: 100%;
                  width: 100%;

                  .txt {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .title {
                      position: absolute;
                      top: 5%;
                      left: 10%;
                      width: 10%;
                      transform: translate(-15%, -5%);
                      font-size: 25px;
                      font-weight: 600;
                      color: white;
                      font-family: var(--integral);
                      text-align: left;
                      line-height: 1.5;
                    }
                  }
                }
                .link {
                  position: absolute;
                  top: 20px;
                  right: 20px;
                  width: 50px;
                  height: 50px;
                  border: none;
                  border-radius: 100px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: white;
                }
              }
            }
          }
        }
      }
      .trending {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          .txt {
            width: auto;
            height: auto;
            font-size: 25px;
            padding: 0px 0px;
            padding-left: 10px;
          }
          .filters {
            width: 100%;
            height: 55px;
            padding: 2.5px 0px;
            padding-left: 10px;
            padding-right: 5px;
            display: flex;
            gap: 10px;
            align-items: center;
            margin: 10px 0px;
            overflow: hidden;
            overflow-x: scroll;
            scroll-behavior: smooth;
            .category-card {
              width: auto;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 13px;
              padding: 0px 20px;
              border: 0.8px solid var(--gray);
              border-radius: 100px;
              flex: 0 0 auto;
              transition: all ease 0.4s;
              &:hover {
                background: black;
                color: white;
                font-weight: 600;
              }
            }
            .clicked {
              background: black;
              color: white;
              font-weight: 600;
            }
          }
        }
        .products-grid {
          width: 100%;
          min-height: 900px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(6, 200px);
          padding: 20px 10px;
          align-items: center;
          column-gap: 5px;
          row-gap: 10px;

          .tile-container {
            width: 100%;
            height: 100%;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            .preview {
              width: 100%;
              height: 70%;
              border: none;
              overflow: hidden;
              border-radius: 24px;
              z-index: 0;
              position: relative;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 24px;
                z-index: -1;
              }
              .preview-ico {
                width: 40px;
                height: 40px;
                background: var(--gray);
                z-index: 0;
                position: absolute;
                top: 20px;
                right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 30px;
              }
              .clicked {
                background: rgb(198, 56, 79);
              }
            }
            .details {
              flex: 1;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 10px 5px;
              gap: 10px;
              .name {
                font-size: 14px;
                font-weight: 600;
                color: gray;
              }
              .price {
                color: black;
                font-weight: 500;
                font-size: 14px;
              }
            }
          }
          #grid-one {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
          }
          #grid-two {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
          }
          #grid-three {
            grid-column: 1 / span 2;
            grid-row: 2 / span 2;
            .preview {
              background: wheat;
              width: 100%;
              height: 80%;
            }
          }
          #grid-four {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
          }
          #grid-five {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
          }
          #grid-six {
            grid-column: 1 / span 2;
            grid-row: 5 / span 2;
            .preview {
              background: wheat;
              width: 100%;
              height: 80%;
            }
          }
        }
      }
    }
  }
}
/*Tablets and larger mobile screens*/
@media (min-width: 520px) and (max-width: 767px) {
}
/*Larger tablets and smaller laptops*/
@media (min-width: 768px) and (max-width: 1023px) {
}
/*Laptops and Larger screens*/
@media (min-width: 1024px) {
}

@keyframes dropDownShowMob {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}
@keyframes showMobMenu {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
    width: 100%;
  }
}
